* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.check {
  font-size: 180px;
  color: #a06aba;
  /* padding: 20px 10px; */
  margin: 0 auto;
}
p {
  padding: 20px 10px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 27px;
  padding-top: 50px;
}
button {
  background-color: #a06aba;
  border: none;
  border-radius: 17px;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
@media (max-width: 425px) {
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    height: 812px;
    width: 375px;
    position: relative;
  }
  .check {
    font-size: 120px;
    color: #a06aba;
    position: absolute;
    width: 103px;
    height: 103px;
    left: 136px;
    top: 159px;
  }
  p {
    position: absolute;
    width: 246px;
    height: 33px;
    left: 61px;
    top: 323px;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
  }
  button {
    position: absolute;
    width: 283px;
    height: 68px;
    left: 50px;
    top: 417px;
    background-color: #a06aba;
    border: none;
    border-radius: 17px;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
  }

  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
}
