* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  margin: 16px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 7px;
  font-family: 'Poppins', sans-serif;
}
h3{
  color: #A06ABA;
}
.search-box:hover > .search-txt{
  width: 165px;
  background-color:#eae7ea96;
}
.searchIcon{
  position: absolute;
  right: 6%;
  padding: 8px;
  border-radius: 16px;
}
.search-txt{
  width: 0px;
  height: 29px;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}
.navbar{
  margin-top: 25px;
  font-family: 'Poppins', sans-serif;
}
.list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
}
.list li{
  padding: 10px 20px;
  cursor: pointer;
}
.active{
  background: #A06ABA;
  border-radius: 10px;
  color: white;    
}
footer{
  position: fixed;
  bottom: 0px;
  width: 91%;    
}
.icons{
  display: flex;
  justify-content: space-around;
  padding: 20px;    
}
.icons i{
  padding:10px;
  font-size: 20px;
}
.icons .fa-home{
  background: #A06ABA;
  border-radius: 10px;
  color: white;
}
.icons .fa-shopping-cart{
  color: #b8b3b3;
}

/* Slideshow container */
.slider{
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 20px;
}
/* Caption text */

.text1 {
color: #000000;
font-size: 22px;
width: 100%;
position: absolute;
bottom: -30px;
text-align: center;

}
.text {
color: #000000;
font-size: 22px;
width: 100%;
text-align: center;
overflow: hidden;
height: 30px;
}
/* Id number */
.numbertext {
color: #070707;
font-size: 19px;
padding: 8px 12px;
position: absolute;
top: 5px;
left: 0;
}
/* Img fit  */
.img{
  width: 100%;
  height: 35vh;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  /* background-color: #A06ABA; */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #A06ABA;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 500;
} 
/* Position the "next button" to the right */
.next {
  right: 10px;
  border-radius: 3px 0 0 3px;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*Start Recommended style*/
.recom {
margin-top: 45px;
}

h2 {
padding: 0px;
}

.recom{
  padding: 20px;
  
}
.recomBox{
  padding: 5px;
  display: flex;
  align-items: center;
  font-family: system-ui;
  height: 20vw;
  overflow: hidden;    
}
.recomImg{
  width: 23vw;
  height: 17vw;
  border-radius: 20px;
  margin-right: 10px;
}
.recomName {
  font-size: 15px;
  line-height: 1.5;
}

h4 {
font-size: 15px;
}
/*End Recommended style*/
.noResultMsg {
font-size: 25px;
height: 290px;}
/* counter style */
a:nth-child(2){
display: flex;
justify-content: center;
}
#counter {
position: absolute;
top: 21%;
right: 24%;  
background-color: #a06aba;
border-radius: 50px;
width: 17px;
height: 17px;
font-size: 12px;
text-align: center;
color: #fff;
}
.count{
  display:none;
}
/*start Responsive*/
@media (min-width: 600px){
header{margin-bottom:40px ;}
h3{font-size: 40px;}
.list{margin-bottom: 65px;  font-size: 25px;}
.search-box:hover > .search-txt{width: 260px;}
.searchIcon{right: 2%;}
.slider{cursor: pointer;}
.mySlides{margin-left:8%;}
.img{width: 90%; height: 57vh;}
.prev, .next {top: 60%;}
.text {
  font-size: 27px;
  width: 100%;
  text-align: center;
}
.text1 {left: 35px;}
.recom{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}
.recom h2{
  text-shadow: 1px 1px #5a4665;
  color: #a06aba;
  margin-bottom: 30px;
}
.recomBox{
  width:70%;
  margin-top: 10px;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
.recomDesc{
  margin-left: 15px;
  border-radius: 20px;
  padding:10px;
  font-size: 40px;    
}
footer{
 position: fixed;
 bottom:0px
}
}

@media (max-width:500px) {
.recomBox{
  width:100%; 
}
}
/*End Responsive */  
